/*
1198D8 - Azul
237BA2 - Azul
FC8101 - Naranja
94A5BD
D3BAB9
*/

html{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu'
}

h1{
    font-size: 1em;
    text-align: center;
    color: white;
}

h2{
    font-size: 0.75em;
    text-align: center;
}

h3{
    font-size:0.65em;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1024px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template: repeat(7,auto) / repeat(4,1fr);
}

.header{
    background: #1198D8;
    color: white;
    display: flex;
    justify-content: space-between;
    grid-column: 1 / span 4;
    align-items:center;
    padding: 12px;
    position: sticky;
    top: 0;
}

.header-name{
    margin: 0;
    font-family: 'Poppins';
    font-size: 16px;
}

.header-menu{
    margin: 0; 
    padding: 0;
    list-style: none;
    display: flex;
}

.header-menu li{
    margin: 0 5px;
    padding: 5px;
    border: solid 1px white;
    background: #FC8101;
    color: white;
}
.abstract{
    grid-column: 1 / span 4;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
    background: url(fondo.jpg);
    background-position-y: center;
    font-style: italic;
    color: white;
}

.abstract p{
    background-color:rgba(35, 123, 162,0.2);
    text-align: center;
    font-size: 38px;
}

.school{
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-left: solid #1198D8 10px;
    border-radius: 5px;
    margin: 0;
    background: white;
    color: black;
}

.school div{
    display: block;
    align-content: center;
    font-size: 16px;
    padding: 10px;
}

.school p, .work p{
    font-size: 16px;
    font-weight: bold;
    background-color: #94A5BD;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.school h1{
    color: #FC8101;
    text-decoration: underline;
}

.school h1, .school h2, .school h3{
    text-align: left;
}

.work{
    grid-column: 3 / span 2;
    display: block;
    align-content: center;
    border-left: solid #1198D8 10px;
    border-radius: 5px;
    margin: 0;
    background: white;
    color: black;
}

.work div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    padding: 10px;
}

.work h1{
    color: #FC8101;
}

.work h1, .work h2, .work h3{
    text-align: right;
}

.computing{
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    padding: 10px;
    border: solid gray 1px;
    border-radius: 5px;
    margin: 5px;
}

.computing ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.computing ol li{
    margin: 5px;
    padding: 5px;
    border: solid gray 1px;
    border-radius: 5px;
    text-align: center;
    text-justify: center;
}

.tools{
    grid-column: 3 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    padding: 10px;
    border: solid gray 1px;
    border-radius: 5px;
    margin: 5px;
}

.tools ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.tools ol li{
    margin: 5px;
    padding: 5px;
    border: solid gray 1px;
    border-radius: 5px;
    text-align: center;
    text-justify: center;
}

.programming{
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    padding: 10px;
    border: solid gray 1px;
    border-radius: 5px;
    margin: 5px;
}
.programming ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.programming ol li{
    margin: 5px;
    padding: 5px;
    border: solid gray 1px;
    border-radius: 5px;
    text-align: center;
    text-justify: center;
}

.contact{
    grid-column: 1 / span 4;
    display: flex;
    justify-content: center;
    align-content: center;
    background: gray;
    font-style: italic;
    color: white;
}

.footer{
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: black;
    color: white;
    padding: 5px;
}

@media screen and (max-width: 768px){
    .school img{
        width: 100%;
        height: 35%;
    }
    .work img{
        width: 70%;
        height: 40%;
        padding: 10px 0 10px 30px;
    }
}

@media screen and (max-width: 425px){
    .header{
        display: block;
    }

    .header p{
        text-align: center;
    }

    .header ol{
        margin: 0;
    }

    .abstract{
        padding: 5px;
    }

    .school{
        grid-column: 1 / span 4; 
    }

    .work{
        grid-column: 1 / span 4;
    }

    .computing{
        grid-column: 1 / span 4;
    }
    
    .tools{
        grid-column: 1 / span 4;
    }

    .programming ol{
        flex-wrap: wrap;
    }

    .contact p{
        text-align: center;
    }

    .footer{
        display: block;
    }

    .footer p{
        text-align: center;
    }
}

@media screen and (max-width: 375px){
    .header ol{
        padding: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 325px){
    .header ol li{
        font-size: 10px;
    }
    .abstract p{
        font-size: 28px;
    }
    .school img{
        width: 100%;
        height: 25%;
    }
}